<div class="container">
    <div class="flex-item">
        <h1>Welcome, {{user.name}}</h1>
        <button id="openModal" class="danger-btn"><i class="fas fa-trash-alt mr-1"></i>Delete Account</button>
    </div>
    <br>
    <hr>
    <br>
    <a href="/posts/add" class="dark-btn"><i class="fas mr-1 fa-plus"></i>Add Post</a>
    <br>
    <br>
    {{#unless posts}}
    <h1>No Posts Found</h1>
    {{else}}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th id="body-th">Body</th>
                <th>Published</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{itemCount ../currentPage @index 10}}</td>
                <td id="body-td__title">{{truncate title 50 '...'}}</td>
                <td id="body-td">{{truncate body 50 '...'}}</td>
                <td>{{published}}</td>
                <td><a href="posts/{{id}}" class="dark-btn"><i class="fas fa-eye"></i></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="pagination">
        {{#if (showPrev currentPage)}}
        <li><a class="primary-btn" href="/dashboard?pageNo={{prev}}">Prev</a></li>
        {{else}}
        <button type="button" class="primary-btn" disabled>Prev</button>
        {{/if}}
        <p>{{pageCounter currentPage pages}}</p>
        {{#if (showNext currentPage pages)}}
        <li><a class="primary-btn" href="/dashboard?pageNo={{next}}">Next</a></li>
        {{else}}
        <button class="primary-btn" disabled>Next</button>
        {{/if}}
    </div>
    {{/unless}}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div id="modalContent" class="modal-content">
        <span class="close">&times;</span>
        <p>This Action Will Permanently Delete Your Account and related posts, comments and other stuff. This Action
            cannot be reverted once done. If You Don't want to remove account then press cancel button.</p>
        <div class="modal-content__form">
            <form action="/users/danger?_method=DELETE" method="POST">
                <button type="submit" class="danger-btn">Delete Account</button>
            </form>
            <button class="dark-btn" id="modalCancel">Cancel</button>
        </div>
    </div>

</div>